# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Node
npm-debug.log
yarn-error.log
yarn.lock

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# Testing
coverage/

# Debugging
*.log
.expo-shared

# iOS
ios/Pods/
ios/**/*.xcworkspace/xcuserdata/
ios/**/*.xcworkspace/xcshareddata/
ios/build/

# Android
android/build/
android/app/build/
android/.gradle/
android/app/release/
*.apk
*.aab

# Local config
.env.local
.env.development.local
.env.test.local
.env.production.local
